/*
 *   Title: M8tro
 *  Author: Jan T. Sott
 *     URL: http://github.com/idleberg/m8tro-bootstrap
 */

// Windows Phone Accents
   @wp-green-light: #a4c400;
         @wp-green: #60a917;
    @wp-green-dark: #008a00;
    @wp-green-aqua: #00aba9;
          @wp-blue: #1ba1e2;
     @wp-blue-dark: #0050ef;
        @wp-violet: #6a00ff;
        @wp-purple: #aa00ff;
          @wp-rose: #f472d0;
          @wp-pink: #d80073;
      @wp-burgundy: #a20025;
           @wp-red: #e51400;
        @wp-orange: #fa6800;
   @wp-yellow-dark: #f0a30a;
        @wp-yellow: #e4ca00;
         @wp-brown: #825a2c;
          @wp-mint: #6d8764;
        @wp-marble: #647687;
      @wp-lavender: #76608a;
         @wp-beige: #87794e;
          @wp-gray: #434542;
     @wp-gray-dark: #1f1f1f;
    @wp-gray-light: #bebebe;

// Focoltone Approximations 
            @f-red: #ed1c24; /* FOCOLTONE 1076 */
         @f-orange: #f36f21; /* FOCOLTONE 2334 */
         @f-yellow: #faa61a; /* FOCOLTONE 1155 */
          @f-green: #80c342; /* FOCOLTONE 2327 */
    @f-green-light: #b3d335; /* FOCOLTONE 3482 */
     @f-green-dark: #39b54a; /* FOCOLTONE 3494 */
           @f-aqua: #00b3b5; /* FOCOLTONE 3402 */
           @f-blue: #3c9cd6; /* FOCOLTONE 2237 */
      @f-blue-dark: #2e3192; /* FOCOLTONE 1074 */
    @f-purple-dark: #5c2d91; /* FOCOLTONE 3471 */
         @f-purple: #5c2d91; /* FOCOLTONE 2304 */
          @f-brown: #8c693a; /* FOCOLTONE 2324 */
      @f-gray-dark: #231f20; /* FOCOLTONE 1073 */

// Base16 colors
        @m8tro-red: @f-red;         /* base-08 */
     @m8tro-orange: @f-orange;      /* base-09 */
     @m8tro-yellow: @f-yellow;      /* base-0A */
      @m8tro-green: @f-green;       /* base-0B */
       @m8tro-aqua: @f-aqua;        /* base-0C */
       @m8tro-blue: @f-blue;        /* base-0D */
     @m8tro-purple: @f-purple-dark; /* base-0E */
      @m8tro-brown: @f-brown;       /* base-0F */

      
// Theme
      @m8tro-theme: @m8tro-aqua;
      
// Accents
            @a-red: @f-red;
         @a-orange: @f-orange;
         @a-yellow: @f-yellow;
          @a-green: @f-green;
           @a-aqua: @f-aqua;
           @a-blue: @f-blue;
         @a-purple: @f-purple-dark;
          @a-brown: @f-brown;

// Shades of gray
      @gray-darker: lighten(#000, 13.5%);
        @gray-dark: #231f20;
       @gray-light: #727272;
     @gray-lighter: #ecf0f1;
             @gray: mix(@gray-light,@gray-dark, 50%);

// Bootstrap colors
    @brand-primary: @m8tro-aqua;
    @brand-success: @m8tro-green;
       @brand-info: @m8tro-blue;
    @brand-warning: @m8tro-yellow;
     @brand-danger: @m8tro-red;

// Document colors
          @body-bg: #000;
       @text-color: #fff;
       @link-color: #fff;
 @link-hover-color: @link-color;