/*
 *   Title: M8tro
 *  Author: Jan T. Sott
 *     URL: http://github.com/idleberg/m8tro-bootstrap
 */

// Windows Phone Accents
         @wp-amber: #f0a30a;
         @wp-beige: #87794e;
         @wp-brown: #825a2c;
        @wp-cobalt: #0050ef;
       @wp-crimson: #a20025;
          @wp-cyan: #1ba1e2; 
       @wp-emerald: #008a00;
          @wp-gray: #434542;
     @wp-gray-dark: #1f1f1f;
    @wp-gray-light: #bebebe;
         @wp-green: #60a917;
        @wp-indigo: #6a00ff;
          @wp-lime: #a4c400;
       @wp-magenta: #d80073;
         @wp-mauve: #76608a;
         @wp-olive: #6d8764;
        @wp-orange: #fa6800;
          @wp-pink: #f472d0;
           @wp-red: #e51400;
        @wp-sienna: #7a3b3f;
         @wp-steel: #647687;
          @wp-teal: #00aba9;
        @wp-violet: #aa00ff;
        @wp-yellow: #d8c100;

// Windows 8 Backgrounds
       @wp-bg-aqua: #004050;
       @wp-bg-blue: #180052;
      @wp-bg-green: #003e00;
     @wp-bg-violet: #260930;

// Focoltone Approximations 
            @f-red: #ed1c24; /* FOCOLTONE 1076 */
         @f-orange: #f36f21; /* FOCOLTONE 2334 */
         @f-yellow: #faa61a; /* FOCOLTONE 1155 */
          @f-green: #80c342; /* FOCOLTONE 2327 */
    @f-green-light: #b3d335; /* FOCOLTONE 3482 */
     @f-green-dark: #39b54a; /* FOCOLTONE 3494 */
           @f-aqua: #00b3b5; /* FOCOLTONE 3402 */
           @f-blue: #3c9cd6; /* FOCOLTONE 2237 */
      @f-blue-dark: #2e3192; /* FOCOLTONE 1074 */
    @f-purple-dark: #5c2d91; /* FOCOLTONE 3471 */
         @f-purple: #5c2d91; /* FOCOLTONE 2304 */
          @f-brown: #8c693a; /* FOCOLTONE 2324 */
      @f-gray-dark: #231f20; /* FOCOLTONE 1073 */

// Base16 colors
        @m8tro-red: @f-red;         /* base-08 */
     @m8tro-orange: @f-orange;      /* base-09 */
     @m8tro-yellow: @f-yellow;      /* base-0A */
      @m8tro-green: @f-green;       /* base-0B */
       @m8tro-aqua: @f-aqua;        /* base-0C */
       @m8tro-blue: @f-blue;        /* base-0D */
     @m8tro-purple: @f-purple-dark; /* base-0E */
      @m8tro-brown: @f-brown;       /* base-0F */

// Theme
      @m8tro-theme: @wp-steel;

// Shades of gray
      @gray-darker: lighten(#000, 13.5%);
        @gray-dark: #231f20;
       @gray-light: #727272;
     @gray-lighter: #ecf0f1;
             @gray: mix(@gray-light,@gray-dark, 50%);

// Bootstrap colors
    @brand-primary: @m8tro-aqua;
    @brand-success: @m8tro-green;
       @brand-info: @m8tro-blue;
    @brand-warning: @m8tro-yellow;
     @brand-danger: @m8tro-red;

// Document colors
          @body-bg: #000;
       @text-color: #fff;
       @link-color: #fff;
 @link-hover-color: darken(@link-color, 20%);