@slider-height: 11px;

input[type=range]{
    -webkit-appearance: none;
    margin-bottom: @slider-height;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track,
    &::-ms-track {
        height: @slider-height;
        background: @gray;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb {
        -webkit-appearance: none;
        border: 1px solid @text-color;
        height: @slider-height;
        width: 13px;
        background: @text-color;
    }

    &:focus {
        outline: none;
    }
}
